.btn{
    padding: 10px 20px;
    border: 1px solid $primary;
    color: $primary;
    text-decoration: 0;
    font-family: 'chainprinter',sans-serif;
    background-color: transparent;
}
.btn:hover{
    animation: rouding 400ms ease-in forwards;
}
@keyframes rouding {
    0%{
        border-radius: 0px;
    }
    50%{
        border-radius: 5px;
    }
    100% {
        border-radius: 10px;
    }
}
//submit
.btn-submit{
    padding: 10px 20px;
    width: 100%;
    border: 1px solid $primary;
    color: $primary;
    text-decoration: 0;
    font-family: 'chainprinter',sans-serif;
    background-color: transparent;
    white-space: nowrap;
}
.btn:hover{
    animation: rouding 400ms ease-in forwards;
}
@keyframes rouding {
    0%{
        border-radius: 0px;
    }
    50%{
        border-radius: 5px;
    }
    100% {
        border-radius: 10px;
    }
}

.btn-meet{
    background-color: transparent;
    border: 1px solid #333;
    width: 100%;
    padding: 16px 8px;
    font-family: roboto-m,sans-serif;
    font-size: 16px;
    color: $text-default;
    text-align: center;
}
.btn-meet:hover{
    animation: rouding 400ms ease-in forwards;
    color: $primary;
    border-color: $primary;
}
@keyframes rouding {
    0%{
        border-radius: 0px;
    }
    50%{
        border-radius: 5px;
    }
    100% {
        border-radius: 10px;
    }
}

.btn-link{
    background-color: transparent;
    border: none;
}
.btn-link:hover{
    text-decoration: underline;
}