.featureCollections-holder{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 35px 16px;
    .feature-info{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        @media (max-width: $small){
            width: 100%;
        };
        h2{
            font-family: roboto-m,sans-serif;
            font-size: 24px;
            color: $text-default;
            margin-bottom: 16px;
        }
        p{
            font-family: roboto-m,sans-serif;
            font-size: 16px;
            color: $text-default;
            margin-bottom: 16px;
        }
    }
    .feature-info-reverse{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        @media (max-width: $small){
            width: 100%;
        };
        h2{
            font-family: roboto-m,sans-serif;
            font-size: 24px;
            color: $text-default;
            margin-bottom: 16px;
        }
        ul{
            list-style-type: none;
            li{
                margin-bottom: 16px;
                .fa{
                    color: $primary;
                }
                i{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: flex-start;
                    justify-content: flex-start;
                    p{
                        color: $text-default;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
    img{
        width: 50%;
        @media (max-width: $small){
            width: 100%;
            margin: 20px 0;
        };
    }
}
.normal {
    flex-direction: row;
    @media (max-width: $small){
        flex-direction: column;
    };
}
.reverse{
    flex-direction: row-reverse;
    @media (max-width: $small){
        flex-direction: column-reverse;
    };
}