.log-wrapper{
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    img{
        width: 50%;
    }
    .log-sing{
        width: 40%;
        padding: 40px;
        .login,.sing{
            display: none;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
            label{
                width: 100%;
                margin-bottom: 10px;
                input{
                    width: 100%;
                    padding: 5px;
                    margin-top: 8px;
                }
            }
            .btn-link{
                margin-top: 36px;
                width: 100%;
            }
        }
        .active{
            display: flex;
        }
    }
}
