.new-profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    flex-direction: column;
    padding-bottom: 150px;
    .new-profile-info{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        h1{
            margin: 24px;
        }
        p{
            margin-bottom: 8px;
        }
    }
}
.new-image-holder  {
    margin-bottom: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}